<ion-view view-title="文章详情" hide-nav-bar="true">
    <ion-header-bar class="bar-calm header-back">
        <div class="buttons">
            <button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
        </div>
        <h1 class="title">文章详情</h1>
    </ion-header-bar>
    <ion-content class="xiaoXiXiangQing bodybg-normal conbg-vrc">
            <div class="mui-content" style="padding-top:1.53rem" id="messageinfo">
                    <div class="main">
                        <div class="con" style="padding: 0 1rem;">
                            <p  style="font-size:1rem"  id='content'></p>
                        </div>
                    </div>
                </div>
    </ion-content>


</ion-view>

