<ion-view view-title="充值记录" hide-nav-bar="true">
    <ion-header-bar class="bar-calm header-back">
        <div class="buttons">
            <button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
        </div>
        <h1 class="title">充值记录</h1>

    </ion-header-bar>
    <ion-content class="bodybg-normal phone_top_up">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
        <!--<div class="rec1_item">
            <div class="rec1_i_info">
                <span class="rec1_i_num">充值金额:200(元)</span>
                <span class="rec1_i_time">2017-01-01 10:22</span>
            </div>
            <div class="rec1_i_remark">{{globalInfo.noun.coin_name}}:-1000</div>
        </div>-->
        <div class="rec1_item" ng-repeat="item in list">
            <div class="rec1_i_remark">
                <span class="rec1_i_r_left"> 加油卡号:{{item.oil_card}}</span>
            </div>
            <div class="rec1_i_info">
                <span class="rec1_i_num">充值金额:{{item.recharge_num}}(元)</span>
                <span class="rec1_i_time">手机号:{{item.mobile}}</span>
            </div>
            <div class="rec1_i_remark">
                <span class="rec1_i_r_left"> {{globalInfo.noun.coin_name}}:-{{item.consume_num}}</span>
                <span class="rec1_i_r_right"> {{item.create_time *1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </div>
            <div class="rec1_i_remark">
                <span class="rec1_i_r_left">充值结果:{{statusArr[item.status]}}</span>
                <!--<span class="rec1_i_r_right"> {{item.create_time *1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span>-->
            </div>
        </div>

        <!--<div class="rec1_item" >
            <div class="rec1_i_remark">
                <span class="rec1_i_r_left"> 加油卡号:1</span>
            </div>
 
            <div class="rec1_i_info">
                <span class="rec1_i_num">充值金额:1</span>
                <span class="rec1_i_time">手机号:{{item.mobile}}</span>
            </div>
            <div class="rec1_i_remark">
                <span class="rec1_i_r_left"> {{globalInfo.noun.coin_name}}:-1</span>
                <span class="rec1_i_r_right"> {{item.create_time *1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </div>
            <div class="rec1_i_remark">
                <span class="rec1_i_r_left">充值结果:{{statusArr[1]}}</span>
               
            </div>
        </div>-->



        <ion-infinite-scroll ng-if="!noMore" on-infinite="loadMore()" distance="1%" icon="" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>